.box1{  display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color:#f5f5f5 ;
}
.sentence{;
          }
.navigation {
  background-color: #f5f5f5
}
.ul {
  list-style-type: none;
  margin: 200;
  padding: 400;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.li {
  float: left;
}

.li a {
  display: block;
  
  text-align: center;
  padding: 30px 60px;
  text-decoration: none;
}

.centered-text {
    text-align: center; 
    

    
}
 
.ul {
  float: right;
}

.p {
  display: block;
  text-align: center;
  padding: 0;
  text-decoration: none;
}
.firsthr{
  border: 2px solid black;
}
.intro{padding:10;
       text-align:justify;
	   
	   display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px;
        background-color: #f5f5f5;}

.author img{max-height:70px;
}
.facebook img{max-height:20px;
              }
.instergram img{max-height:20px;
	       }
.image1 img{max-height:30px;
}
.information of author:{
                          display: flex;
                          justify-content: space-between;
                          align-items: center;
                          padding: 30px;
                          backgound-color:#f5f5f5;
}
.articleimage1 img{max-height:30px;}

.secondhr{border:2px solid black;
}

.content1{text-align:justify;
	display: flex;
        justify-content: space-between;
        padding: 30px;

}
.content2{text-align:justify;
	     
	     display: flex;
            justify-content: space-between;
            padding: 70px;
            align-items:center;
	    display:flex;
}
.content3{text-align:justify;
	     display: flex;
             justify-content: space-between;
             padding: 30px;
          
}
.content4{text-align:justify;
	     display: flex;
            justify-content: space-between;
             padding: 50px;
          ;
}
.articleimage2 img{max-height:300px;}

.content5{text-align:justify;
	     
	        display: flex;
                justify-content: space-between;
                 padding: 50px;
          
}


.content6{text-align:justify;
	
	     display: flex;
             justify-content: space-between;
             padding: 50px;
         
}
.footer{background-color:#f5f5f5;
	display:flex;
	justify-content:space-between;
	padding:30px;
       }






                       
					   
		 
		 





	   


