.Author-image{
	display:flex;
	justify-content:center;
	border-radius:20px;
	
	}
	
.author{
	
	border-radius:5px;
}

.date{
  display:flex;
  justify-content:center;
  color:grey;
  font-weight: bold;
}

.story{
  display:flex;
  justify-content:center;
  color:#2e2c28;
  font-weight: bold;
  margin-top: 30px;
  font-size: 22px;
}

h3{
	text-align:center;
}
