/*authors.html*/



/*collection.html*/



/*dashboard.html*/



/*editor.html*/



/*index.html*/

h1,h2,h3,h4,h5,h6{
    font-family: "Mystical Woods Smooth Script", cursive;
}

p,ul,li,a,span {
    font-family: "Bellota", cursive;
}

/* Navigation and Footer */
nav{
    display: flex;
    justify-content: space-around;
    background-color: #ffa500;
    color: white;
    text-align: center;
}

nav ul, footer ul {
    background-color: orange;
    list-style-type: none;
    padding: 0px;
    
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 50px;
    margin-left: 50px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0px 20px;
    background-color: orange;
}

.logo img{
    max-height: 20px;
}

.profile-icon img {
    max-height: 40px;
}

.search-bar input {
    padding: 10px 100px 10px 100px;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    text-align: center  ;
}


.hero-image img {
    width: 100%;
    height: auto;
}

/* Story Thumbnails */
.story-thumbnails {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.story-thumbnail {
    flex: 0 0 calc(33.33% - 20px);
    text-align: center;
    padding: 20px;
}

.story-thumbnail img {
    max-width: 100%;
    height: auto;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

footer img {
    max-height: 20px;
}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Navigation and Footer */
    nav, footer {
        flex-direction: column;
    }

    nav ul li, footer ul li {
        display: block;
        margin: 10px 0;
    }

    /* Header */
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo img, .profile-icon img {
        max-height: 30px;
    }

    .search-bar input {
        padding: 10px;
        width: 100%;
    }

    /* Story Thumbnails */
    .story-thumbnails {
        flex-direction: column;
    }

    .story-thumbnail {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
    /* Navigation and Footer */
    nav, footer {
        flex-direction: column;
    }

    nav ul li, footer ul li {
        display: block;
        margin: 10px 0;
    }

    /* Header */
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo img, .profile-icon img {
        max-height: 20px;
    }

    .search-bar input {
        padding: 10px;
        width: 100%;
    }

    /* Story Thumbnails */
    .story-thumbnails {
        flex-direction: column;
    }

    .story-thumbnail {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
}

/*profile.html*/



/*signup.html*/



/*story.html*/
